.skills__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8em;
    text-align: center;
    color: var(--cor-de-fondo-cuad);
    font-weight: bold;
}

.skills__line {
    display: flex;
    justify-content: space-between;
    flex-grow: 5;
}

.skills__box {
    background: var(--cor-de-fondo-cuad);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem; 
}

.skills__img {
    width: 32px;
    height: 37px;
}

.skills__box:hover {
    border-radius: 1rem;
    transition: 2s;
    transform: scale(1.5,1.5);
}

@media (max-width:480px) { 
    .skills__line {
        flex-wrap: wrap;
    }

    .skills__box {
        margin-top: 4px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }



